body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
.recipeList {
    display: flex;
    flex-wrap: wrap;
    
}
.recipeListItem {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    flex: 30%;  
}

.cardDescription {
    font-size: 24px;
}
.container {
    text-align: center;
    margin-top: 0px;
    background-color: gold;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.container-sm {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
.button:hover {
    background-color: #008CBA;
    color: white;
  }

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}